<!DOCUMENT html>
<html>
  <head>
    <title>My Templates</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      h1 {
        color: #333;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <b>
      <b>ชื่อ {{name}}</b>
    </b>
    <b>
      <b>นามสกุล {{surname}}</b>
    </b>
    <b>
      <b>เบอร์โทรศัทพ์ {{te}}</b>
    </b>
  </body>
</html>
